/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #007BFF; /* Blue background */
    color: white;
}

.main-header {
    background-color:rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
  display: block;
  max-width: 50px;
}


.icons {
    display: flex;
    gap: 1rem;
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
p {
    color: red;
    text-align: center;
  }

body{
    background-image: url('../assets/abstract-blue-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main-nav {
    background: none;
    padding: 0.5rem 0;
}


.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
    margin: 0;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    
}

.main-nav li a:hover {
    color: #a9cfff;
    border-bottom: 2px solid #a9cfff;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.signup-btn,
.login-btn {
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: color 0.3s, text-decoration 0.3s;
}

.signup-btn {
    text-decoration: underline;
}

.signup-btn:hover {
    color: #a9cfff;
}

.login-btn {
    border: 1px solid white;
    border-radius: 20px;
}

.login-btn:hover {
    color: #a9cfff;
    border-color: #a9cfff;
}

