
body{
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body a{
    font-family: Arial, Helvetica, sans-serif;
}

.main.header .heading{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    height: 30px;
    /* background-color: #f2f2f2; */
    background-color: hsl(0, 0%, 93%);
    padding: 5px 20px;
}


.main.header .logo{
    height:24px;
}
.main.header .icon{
    height: 18px;
}

.primary.navigation.actions{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}
.user.navigation.actions{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    position: absolute;
    right: 2%;
}

.main.header .primary.navigation.actions li{
    display: inline;
    padding: 20px;
}

.main.header li a{
    text-decoration: none;
    color: black;
}

.secondary.header{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 60px;
    background-color: hsl(0, 0%, 90%);
    padding: 5px 20px;
}

.secondary.header .image.navigation.actions{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 80px;
}

.secondary.header .icon{
    height: 32px;
    display: block;
    margin: 0 auto;
}


.secondary.header a {
    text-decoration: none;
    display: block;
}

.secondary.header .image.navigation.actions li {
    text-align: center;
}

.secondary.header .image.navigation.actions span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}


/* Hero */


    /* vw=viewport’s width or browser window width */

    /* vh = viewport’s height */

    /* ch= width of 0 */

    /* rem=fond size */
    /* 2rem = fond size * 2 */
    /* consistency is KEY 🗝 */
    /* Yee */


.container.inner.hero{
    /* background-image: url("../../assets/images/abstract-unsplash.jpg"); */
    /* background-image: url(../..//white_page/assets_white/images/pexels-davdkuko-crop.jpg); */
    background-image: url(../../white_page/assets_white/images/pexels-tima-crop.jpg);
    height: 80vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.hero.section h1,
.hero.section p {
    margin-top: 20px;
}

.hero.title{
    color: hsl(0, 0%, 97%);
    background-color: hsl(0, 0%, 25%, 0.5);
    display: flex;
    width: 100%;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 24px;  
    
}

.hero.actions{
    margin-bottom: 40px;
}

.button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin: 20px;
    text-decoration: none;
}
.secondary.button {
    border: 2px solid #f7f7f7;
    background-color: hsl(0, 0%, 25%, 0.8);
    color: #f7f7f7;
}

.button.primary {
    background-color: #f7f7f7;
    border: 2px solid #f7f7f7;
    color: black;
}
